.profile__block{

   
    width: 100vw;
    margin: 2rem auto;
}
.dataUser{
    display:flex;
}
.userImg{
    width: 200px;
    height: 200px;
}
.profileUser__block{
    width: 60%;
    
    margin-left: 3rem;
    p{
        margin-top: 2rem;
    }
}

.navContent__block{
    display: flex;
    background:#eaeaea;
}

.posts__block{
    width: 100%;
    margin-bottom: 4rem;
    
    margin-top: 2rem;
}
.wrapper{
    position: relative;
    width: 70%;
    height: 220px;

    
}
.inputPosts{
    margin-top: 2rem;
}
.content__textInput{
    margin: 2em auto;
    width: 100%;
    
}
.postsBtn__create{
    margin-top:0.5em;
    float: right;
    
    
    
}
.posts__window{
    
    border:1px solid gray;
    border-radius: 25px;
    margin-top: 1rem;
}


.posts__info{
    
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    
    display: flex;
    align-items: center;
    img{
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-right: 1rem;
    }
    h1{
        font-size: 16px;
    }
}
.posts__data{
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 0.5rem;

}