.profilePage_profile{ 
    background:#eaeaea;
}

.navContent__block{
    display: flex;

}

.posts__block{
    width: 100%;


}
.wrapper{
    position: relative;
    width: 70%;

}
.content__textInput{
    margin: 2em auto;
    width: 100%;
}
.postsBtn__create{
    // background:red;
    float: right;
    
    
}